<form action="/dashboard.htm" method="get">
<br></br>
<br></br>
<br></br>
<table>
    <tr>
        <td>Total</td>
        <td>Priority</td>
        <td>Description</td>

    </tr>
        <tr>
            <td>$id</td>
            <td>$level</td>
            <td>$description</td>
        </tr>
</table>